* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

.header-sup h2{
    color: rgb(248, 0, 106);
    text-align: center;
    padding: 22px 0;
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
}

.header-sup p {
    text-align: center;
    padding-left: 190px;
    padding-right: 190px;
}

.container {
    margin: 0 auto;
    float: left;
    max-width: 800px;
}



.card {
    float: left;
    background-color: rgb(15, 13, 24);
    margin-top: 40px;
    width: 250px;
    height: 70px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 3px 3px #eee;

}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
} 

.card-text {
    padding-top: 35px;
    color: white;
    padding-left: 0px;
    margin-bottom: 10px;
    float: right;
    text-align: left;
}

.img-card {
    height: 70px;
    width: 82px;
    float: left;
}

.container:nth-of-type(3n+1) {
    margin-left: 150px;
} 