* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

.header-sup h2{
    color: rgb(248, 0, 106);
    text-align: center;
    padding: 22px 0;
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
}

.header-sup p {
    text-align: center;
    padding-left: 220px;
    padding-right: 220px;
}

.container {
    margin: 0 -20px;
    float: left;
    max-width: 800px;
}



.card {
    float: left;
    background-color: rgb(15, 13, 24);
    margin-top: 40px;
    width: 300px;
    height: 80px;
    margin-left: 15px;
    margin-right: 50px;
    box-shadow: 3px 3px #eee;
    display: inline-block;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
} 

.card-text span.nome {
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
}

.card-text span.lavoro{
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.card-text {
    color: white;
    text-align: left;
    margin-top: 10px;
}


.img-card {
    width: 80px;
    float: left;
    margin-right: 4px;
}

.container:nth-of-type(3n+1) {
    margin-left: 220px;
} 

a {
    text-decoration: none;
    color: rgb(0, 172, 225);
}